*,*::after,*::before {
    
    box-sizing: border-box;

    font-family:'Courier New', Courier, monospace;
}


body {

    background: burlywood;

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;

    /* overflow: hidden; */
}

.header {

    display: flex;

    justify-content: center;

    align-items: center;

    width: 300px;

    height: 300px;

    background-color: burlywood;

    border-radius: 35%;

    border: 5px solid burlywood;

    position: relative;

    font-size: 3rem;

    font-weight: 1000;

    margin-right: 20px;
}

.clock {

    display: flex;



    width: 300px;

    height: 300px;

    background-color: beige;

    border-radius: 50%;

    border: 5px solid brown;

    position: relative;
}

.clock .number {
    
    position: absolute;

    width: 100%;

    height: 100%;

    /* background-color: orange; */

    text-align: center;

    transform: rotate(var(--rotation));

    font-size: 1.5rem;

    font-weight: 1000;

}



.clock .number1 { --rotation: 30deg; color: aqua;}

.clock .number2 { --rotation: 60deg; color: aquamarine }

.clock .number3 { --rotation: 90deg; color: blue}

.clock .number4 { --rotation: 120deg; color: greenyellow}

.clock .number5 { --rotation: 150deg; color: rgb(66, 231, 66)}

.clock .number6 { --rotation: 180deg; color: green}

.clock .number7 { --rotation: 210deg; color: orange}

.clock .number8 { --rotation: 240deg; color: orangered}

.clock .number9 { --rotation: 270deg; color: red}

.clock .number10 { --rotation: 300deg; color: violet}

.clock .number11 { --rotation: 330deg; color: purple}

.clock .number12 { --rotation: 0deg; }


.clock .minute {

    position: absolute;

    width: 100%;

    height: 100%;

    text-align: center;

    transform: rotate(var(--rotation));

    font-size: 1.5rem;

    font-weight: 1000;
}

/* .clock .minute1 { --rotation: 6deg;}
.clock .minute2 { --rotation: 12deg;}
.clock .minute3 { --rotation: 18deg;}
.clock .minute4 { --rotation: 24deg;}

.clock .minute6 { --rotation: 36deg;}
.clock .minute7  { --rotation: 42deg;}
.clock .minute8  { --rotation: 48deg;}
.clock .minute9  { --rotation: 54deg;}

.clock .minute11 { --rotation: 66deg;}
.clock .minute12 { --rotation: 72deg;}
.clock .minute13 { --rotation: 78deg;}
.clock .minute14 { --rotation: 84deg;}

.clock .minute16 { --rotation: 96deg;}
.clock .minute17 { --rotation: 102deg;}
.clock .minute18 { --rotation: 108deg;}
.clock .minute19 { --rotation: 114deg;}

.clock .minute21 { --rotation: 126deg;}
.clock .minute22 { --rotation: 132deg;}
.clock .minute23 { --rotation: 138deg;}
.clock .minute24 { --rotation: 144deg;}

.clock .minute26 { --rotation: 156deg;}
.clock .minute27 { --rotation: 162deg;}
.clock .minute28 { --rotation: 168deg;}
.clock .minute29 { --rotation: 174deg;}

.clock .minute31 { --rotation: 186deg;}
.clock .minute32 { --rotation: 192deg;}
.clock .minute33 { --rotation: 198deg;}
.clock .minute34 { --rotation: 204deg;}

.clock .minute36 { --rotation: 216deg;}
.clock .minute37 { --rotation: 222deg;}
.clock .minute38 { --rotation: 228deg;}
.clock .minute39 { --rotation: 234deg;}

.clock .minute41 { --rotation: 246deg;}
.clock .minute42 { --rotation: 252deg;}
.clock .minute43 { --rotation: 258deg;}
.clock .minute44 { --rotation: 264deg;}

.clock .minute46 { --rotation: 276deg;}
.clock .minute47 { --rotation: 282deg;}
.clock .minute48 { --rotation: 288deg;}
.clock .minute49 { --rotation: 294deg;}

.clock .minute51 { --rotation: 306deg;}
.clock .minute52 { --rotation: 312deg;}
.clock .minute53 { --rotation: 318deg;}
.clock .minute54 { --rotation: 324deg;}

.clock .minute56 { --rotation: 336deg;}
.clock .minute57 { --rotation: 342deg;}
.clock .minute58 { --rotation: 348deg;}
.clock .minute59 { --rotation: 354deg;} */



.clock .hand {

    --rotation: 0;

    position: absolute;

    bottom: 50%;

    left: 50%;

    /* width: 10px;

    height: 50%;

    background-color: cadetblue; */

    border: 1px solid black;

    border-top-left-radius: 10px;

    border-top-right-radius: 10px;

    border-bottom-left-radius: 10px;

    border-bottom-right-radius: 10px;

    transform-origin: bottom;

    z-index: 10;

    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));

}

.clock::after {

    content: '';

    position: absolute;

    background-color: orangered;

    z-index: 11;

    width: 15px;

    height: 15px;

    top: 50%;

    left: 50%;

    transform: translate( -50%, -50%);

    border-radius: 50%;

    border: 1px solid black;
}

.clock .hand.second {

    /* --rotation: 120; */
    
    width: 3px;

    height: 45%;

    background-color: red;
}

.clock .hand.minute {

    /* --rotation: 60; */
    
    width: 8px;

    height: 40%;

    background-color: cadetblue ;
}

.clock .hand.hour {
    
    width: 10px;

    height: 35%;

    background-color: orange;
} 

.time {

    display: flex;

    justify-content: center;

    align-items: center;

    width: 300px;

    height: 300px;

    background-color: beige;

    border-radius: 35%;

    border: 5px solid brown;

    position: relative;

    font-size: 1rem;

    font-weight: 1000;

    margin-left: 20px;
}